@font-face {
  font-family: "Roboto";
  src: url("../fuentes/Roboto/Roboto-Regular.ttf");
}

.father-body {
  background: linear-gradient(88deg, #b9683c 0%, #fc9c64 100%);
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
}

#section-header {
  background: linear-gradient(88deg, #28496a 0%, #6484fc 100%);
}

#userSection {
  text-align: center;
}

#boxes-section-choice {
  display: flex;
}

#boxes {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.cajita {
  height: 100px;
  width: 100px;
  margin: 20px;
  border-color: black;
  border-style: solid;
  border-radius: 10%;
  border-width: 1px;
  background-color: white;
}

.cajita:hover {
  animation-name: cajitas;
  animation-duration: 0.3s;
  cursor: pointer;
}

@keyframes cajitas {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

#cajitaJugador {
  background-color: white;
}
#cajitaCPU {
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  background-position: center;
  height: 200px;
  width: 200px;
}

.eleccionPiedra {
  background-image: url(/imagenes/piedra.png);
  background-size: cover;
  background-position: center;
  display: block;
}

.eleccionPapel {
  background-image: url(/imagenes/papel.png);
  background-size: cover;
  background-position: center;
  display: block;
}

.eleccionTijeras {
  background-image: url(/imagenes/tijeras.png);
  background-size: cover;
  background-position: center;
  display: block;
}

.agrandar {
  box-sizing: border-box;
  height: 200px;
  width: 200px;
}

.oculto {
  display: none;
}

.mostrar {
  display: block;
}

.reiniciarCPU {
  background-image: none;
}
