@font-face {
  font-family: "Roboto";
  src: url("../fuentes/Roboto/Roboto-Regular.ttf");
}

* {
  border: 0;
  margin: 0;
}

.father-body {
  background: linear-gradient(88deg, #c66742 0%, #f3703c 100%);
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
}

#section-header {
  background: linear-gradient(88deg, #544bb1 0%, #7066e0 100%);
  padding: 15px;
}
h1 {
  text-align: center;
}

form {
  margin: 10px;
}
#userSection {
  text-align: center;
  padding: 10px 20px;
  margin-top: 20px;
}

h3 {
  padding: 5px;
}

h4 {
  padding: 5px;
}

#boxes-section-choice {
  display: flex;
}

#boxes {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.cajita {
  height: 100px;
  width: 100px;
  margin: 20px;
  border-color: black;
  border-style: solid;
  border-radius: 10%;
  border-width: 1px;
  background-color: white;
}

.cajita:hover {
  animation-name: cajitas;
  animation-duration: 0.3s;
  cursor: pointer;
}

@keyframes cajitas {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

#cajitaJugador {
  background-color: white;
}
#cajitaCPU {
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  background-position: center;
  height: 200px;
  width: 200px;
}

.eleccionPiedra {
  background-image: url(../imagenes/piedra.png);
  background-size: cover;
  background-position: center;
  display: block;
}

.eleccionPapel {
  background-image: url(../imagenes/papel.png);
  background-size: cover;
  background-position: center;
  display: block;
}

.eleccionTijeras {
  background-image: url(../imagenes/tijeras.png);
  background-size: cover;
  background-position: center;
  display: block;
}

.agrandar {
  box-sizing: border-box;
  height: 200px;
  width: 200px;
}

.mostrar {
  display: block;
}

.reiniciarCPU {
  background-image: none;
}

#Reiniciador {
  display: flex;
  justify-content: center;
}
#nuevoJuego {
  border: 0;
  border-radius: 0.25em;
  background: initial;
  background-color: #7066e0;
  color: #fff;
  font-size: 1em;
  padding: 4px;
  cursor: pointer;
  margin: 10px;
}
#nuevoJuego:hover {
  background-color: rgb(112, 102, 224, 0.9);
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

#nuevoJuego:active {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

#nuevoJuego:focus {
  box-shadow: 0 0 0 3px rgb(112 102 224 / 50%);
}

#rankeo {
  border: 0;
  border-radius: 0.25em;
  background: initial;
  background-color: #7066e0;
  color: #fff;
  font-size: 1em;
  padding: 4px;
  cursor: pointer;
  margin: 10px;
}
#rankeo:hover {
  background-color: rgb(112, 102, 224, 0.9);
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

#rankeo:active {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

#rankeo:focus {
  box-shadow: 0 0 0 3px rgb(112 102 224 / 50%);
}

#rankeo {
  border: 0;
  border-radius: 0.25em;
  background: initial;
  background-color: #7066e0;
  color: #fff;
  font-size: 1em;
  padding: 4px;
  cursor: pointer;
}
#rankeo:hover {
  background-color: rgb(112, 102, 224, 0.9);
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

#rankeo:active {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

#rankeo:focus {
  box-shadow: 0 0 0 3px rgb(112 102 224 / 50%);
}

#terminarJuego {
  border: 0;
  border-radius: 0.25em;
  background: initial;
  background-color: #7066e0;
  color: #fff;
  font-size: 1em;
  padding: 4px;
  cursor: pointer;
}
#terminarJuego:hover {
  background-color: rgb(112, 102, 224, 0.9);
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

#terminarJuego:active {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

#terminarJuego:focus {
  box-shadow: 0 0 0 3px rgb(112 102 224 / 50%);
}

#final {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#secondary-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.oculto {
  display: none;
}

.paginaInicial {
  background: rgb(112, 102, 224, 0.9);
}

.cajaForm {
  height: 30px;
  width: 200px;
}

.centrarElemento {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.historial {
  text-align: center;
}

@media (min-width: 0px) and (max-width: 699.5px) {
  #cajitaCPU {
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    background-position: center;
    height: 120px;
    width: 120px;
  }

  .cajita {
    height: 80px;
    width: 80px;
    margin: 20px;
    border-color: black;
    border-style: solid;
    border-radius: 10%;
    border-width: 1px;
    background-color: white;
  }

  #rankeo {
    font-size: 0.8em;
  }

  #terminarJuego {
    font-size: 0.8em;
  }
}
